<div>
  <h2>Your categories</h2>
  <% if @categories.empty? %>
    <p>No categories found</p>
    <img src="https://cdn-icons-png.flaticon.com/512/7486/7486831.png" alt="No categories found">
  <% else %>
  <div class='cards'>
      <% @categories.each do |category| %>
      <div class='card'>
        <%= image_tag(category.icon, alt: "Icon pic") %>
        <div>
          <div>
            <%= link_to category.name, category_path(category), class: "text-xl font-medium mb-3" %>
            <% if category.trades.sum(:amount) > 0 %>
              <div class="font-medium">
                $<%= category.trades.sum(:amount) %>
              </div>
            <% else %>
            <div class="font-medium">
              Free
            </div>
            <% end %>
          </div>
          <hr class="my-1">
          <div class="text-gray-600 text-start">
            <%= category.created_at.strftime("%B %d, %Y") %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
  <%= link_to "Add new category", new_category_path %>
</div>