<header>
  <div>
    <%= link_to image_tag('icon.png'), categories_path %>
  </div>
  <div><h2>Transactions</h2></div>
  <div>&nbsp;</div>
</header>

<div class="trade">
  <div class="header">
    <p><%= @category.name %></p>
    <p>$<%= @total %></p>
  </div>
  <% if @total == 0 %>
  <%= link_to "Add new trade", new_category_trade_path(@category), class: "bg-blue-400 text-white py-2 px-12 text-lg rounded-lg mt-6 absolute bottom-10" %> |
  <%= link_to "Back", categories_path, class: "text-blue-500 py-2 px-4 rounded-lg absolute bottom-2" %>
  <p>No trades found</p>
  <img src="https://cdn-icons-png.flaticon.com/512/8541/8541407.png" alt="No trades found">
<% else %>
    <div class="cards">
      <% @trades.each do |trade| %>
      <div class="card">
        <%= image_tag(@category.icon, alt: "Icon pic", class: "left") %>
        <div class="right">
          <div class="sub-right">
            <p class="trade-name"><%= trade.name %></p>
            <p class="trade-amount">$<%= trade.amount %></p>
          </div>
          <div class="trade-date">
            <%= trade.created_at.strftime("%B %d, %Y") %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<% end %>
</div>

<div class="btn-new-categ">
<%= link_to 'Add a new transaction', new_category_trade_path(@category) %>
</div>