<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
      <% if user_signed_in? %>
    <!-- Navigation bar -->
    <header class="header">
        <!-- Logo -->
        <span class="logo">
            <img src="https://static-00.iconduck.com/assets.00/search-icon-2044x2048-psdrpqwp.png" alt="Logo of HTS">
        </span>

        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu" />
        
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <!-- Menu -->

        <nav class="nav">
          <ul>
        <div class='profile'>
          <img src='https://cdn.iconscout.com/icon/free/png-256/free-avatar-370-456322.png' alt='' />
          <p><%= current_user.name %> </p>
          <p> <%= button_to "Sign out", destroy_user_session_path, method: :delete %></p>
        </div> 
            <ul class="menu">
            <li>
            <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
                <li>
                <%= link_to "Category", categories_path, class: "nav-link" %>
                </li>
                
            </ul>
        </nav>

    </header>

        <% end %>
    <!-- Main content -->
    <main>
        <section class="home">
        <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %>
    <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>

    <%= yield %>

        
        </section>
    </main>
</body>

</html>